.contact{
    background: var(--primary-color);
    width: 100vw;
    height: 90vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-wrapper{
    display: flex;
    justify-content: center; 
}

form{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form p{
   color: var(--secondary-color);
}
form input[type="text"], input[type="email"]{
    padding:10px 10px;
    font-family: poppins;
    outline: none;
    border: none;
    background-color: #dadbdb;
    border-radius: 5px;
}

form textarea{
    resize: none;
    padding-top: 5px;
    padding-bottom: 60px;
    padding-right: 5px;
    padding-left: 10px;
    font-family: poppins;
    outline: none;
    border: none;
    background-color: #dadbdb;
    border-radius: 5px;
}

form input[type="submit"]{
    margin-top: 20px;
    text-transform: capitalize;
    padding: 10px 12px;
    background-color: #8864c4;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    border: 0.1px solid #dadcdf;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: poppins;
}
form input[type="submit"]:hover{
    color: #000;
    background-color: #fff;
    border: 0.1px solid #e5e7eb;
}


@media (max-width:600px){
    form{
        width: 70%;
    }
}
